.welcome--container {
  display: flex;
  height: 80vh;
  gap: 5rem;
}

.welcome--container__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 60%;
  margin: 2rem 0;
}

.welcome--title {
  display: flex;
  flex-wrap: wrap;
  font-size: 5rem;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.welcome--description {
  font-size: 18px;
  color: var(--gray);
}

.welcome--button {
  font-size: 18px;
  padding: 8px 15px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.welcome--container__image {
  flex: 1;
  margin: 2rem 0;
}

.details--container {
  height: 100%;
  background-color: wheat;
}

.details--search__bar {
  display: flex;
  align-items: center;
  background-color: violet;
  margin: 1.5rem 0;
}
