.layout--container {
  height: 100vh;
}

.layout--container main {
  height: 80%;
  background-color: violet;
  width: 100%;
}

.header--container {
  height: 10%;
  border-bottom: 1px solid var(--black);
  background-color: yellowgreen;
  width: 100%;
}

.footer--container {
  height: 10%;
  border-top: 1px solid var(--black);
  background-color: yellow;
  width: 100%;
}
