/*
* Style Guide
* Layout - Mobile: 375px and Desktop: 1440px
* Colors
* Almost White: hsl(0, 0%, 98%)
* Medium Gray: hsl(0, 0%, 41%)
* Almost Black: hsl(0, 0%, 8%)
* Font size (paragraph): 18px
* Family: Epilogue
* Weights: 500, 700
*/

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Epilogue;
}

:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}
